/*
  ===============================
  Variáveis e Reset Básico
  ===============================
*/
:root {
    --cor-de-fundo: #006494; /* Substituindo pelo Prussian Blue */
    --cor-do-texto: #E8F1F2; /* Substituindo pelo Azure X11 */
    --cor-de-fundo-menu: #419ae3; /* Substituindo pelo Sapphire Blue */
    --cor-primaria: #1B98E0; /* Substituindo pelo Cerulean Blue */
    --cor-primaria-hover: #247BA0; /* Substituindo pelo Celadon Blue */
    --cor-do-link: #E8F1F2; /* Mantendo o contraste */
    --cor-secundaria: white; /* Não há cor similar na paleta, mantém-se original */

}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-do-texto);
    line-height: 1.5;
    scroll-behavior: smooth;
}

/*
  ===============================
  Animações de Entrada
  ===============================
*/
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*
  ===============================
  Cabeçalho e Navegação
  ===============================
*/
.cabecalho__container {
    display: flex;
    background-color: var(--cor-de-fundo-menu);
    border-bottom: 2px solid var(--cor-primaria);
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100vw;
    height: 150px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    animation: slideInLeft 1s ease-out;
    margin: 0 auto;
}

.cabecalho__logo {
    max-width: 50px;
    margin-bottom: 1rem;
    animation: slideInLeft 1s ease-out;
}

.cabecalho__titulo {
    font-size: 3rem;
    color: var(--cor-do-link);
    font-weight: bold;
    line-height: 1;
    animation: slideInLeft 1s ease-out;
}

.navegacao {
    margin-top: 1rem;
}

.navegacao__lista {
    display: flex;
    gap: 2rem;
    animation: slideInRight 1s ease-out;
    flex-wrap: wrap;
    list-style: none;
}

.navegacao__elemento a {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
    animation: slideInRight 1s ease-out;
    cursor: pointer;
}

.navegacao__elemento a:hover {
    color: var(--cor-primaria);
}

/*
  ===============================
  Botão de Voltar ao Topo
  ===============================
*/
#botao-voltar-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--cor-primaria);
    color: #1e1e1e;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    display: none;
}

#botao-voltar-topo:hover {
    background-color: var(--cor-primaria-hover);
}

/*
  ===============================
  Seção de Apresentação
  ===============================
*/
.apresentacao {
    padding: 0;
    background: radial-gradient(circle, rgba(56, 208, 221, 1), rgba(89, 138, 229, 1));
}

.apresentacao__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.apresentacao__foto--principal {
    width: 800px;
    height: auto;
    z-index: 1000;
    animation: slideInLeft 1s ease-out;
}

.apresentacao__container-info {
    max-width: 600px;
    margin: 20px;
    flex: 1;
}

.apresentacao__titulo {
    font-size: 3.5rem;
    color: var(--cor-do-link);
    font-weight: bold;
    margin-bottom: 20px;
    animation: slideInLeft 1s ease-out;
}

.apresentacao__subtitulo {
    font-size: 1.2rem;
    color: var(--cor-do-link);
    margin-bottom: 30px;
    animation: slideInLeft 1s ease-out;
}

.redes {
    list-style: none;
    display: flex;
    gap: 20px;
    animation: slideInLeft 1s ease-out;
}

.redes__elemento a {
    color: var(--cor-primaria);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.redes__elemento a:hover {
    color: var(--cor-primaria-hover);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .apresentacao__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .apresentacao__foto--principal {
        order: 2;
        width: 100%;
        max-width: 400px;
        height: auto;
        object-fit: cover;
        margin-top: 20px;
    }

    .apresentacao__titulo {
        font-size: 2rem;
    }

    .apresentacao__subtitulo {
        font-size: 1rem;
    }

    .redes {
        gap: 15px;
        justify-content: center;
    }

    .redes__elemento a {
        font-size: 1rem;
    }
}


/*
  ===============================
  Seção Sobre Mim
  ===============================
*/
.sobre-mim {
    padding: 50px;
    background-color: var(--cor-de-fundo-menu);
    color: var(--cor-do-texto);
    animation: slideInRight 1s ease-out;
}

.sobre-mim__container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.sobre-mim__foto {
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
    animation: slideInRight 1s ease-out;
}

.sobre-mim__container-info {
    flex: 1;
}

.sobre-mim__titulo {
    font-size: 2rem;
    color: var(--cor-primaria);
    margin-bottom: 20px;
    animation: slideInRight 1s ease-out;
}

.sobre-mim__texto {
    font-size: 1.1rem;
    color: var(--cor-secundaria);
    margin-bottom: 20px;
    animation: slideInRight 1s ease-out;
}

/* Responsividade para a seção Sobre Mim */
@media (max-width: 768px) {
    .sobre-mim__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sobre-mim__foto {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/*
  ===============================
  Seção de Habilidades
  ===============================
*/
.habilidades {
    padding: 50px;
    background-color: var(--cor-de-fundo);
    animation: slideInLeft 1s ease-out;
}

.habilidades__container {
    max-width: 1200px;
    margin: 0 auto;
}

.habilidades__titulo {
    font-size: 2rem;
    color: var(--cor-primaria);
    margin-bottom: 20px;
    animation: slideInLeft 1s ease-out;
}

.habilidades__lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    animation: slideInLeft 1s ease-out;
}

.habilidades__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades__icone {
    width: 80px;
    margin-bottom: 10px;
}

.habilidades__nome {
    color: var(--cor-do-texto);
    font-weight: bold;
}

/*
  ===============================
  Seção de Hobbies
  ===============================
*/
.hobbies {
    padding: 50px;
    background-color: var(--cor-de-fundo-menu);
    animation: slideInRight 1s ease-out;
}

.hobbies__container {
    max-width: 1200px;
    margin: 0 auto;
}

.hobbies__titulo {
    font-size: 2rem;
    color: var(--cor-primaria);
    margin-bottom: 20px;
    animation: slideInRight 1s ease-out;
}

.hobbies__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    animation: slideInRight 1s ease-out;
    justify-content: center;
}

.hobbies__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies__icone {
    width: 80px;
    margin-bottom: 10px;
}

.hobbies__nome {
    color: var(--cor-do-texto);
    font-weight: bold;
}

/*
  ===============================
  Seção de Formação
  ===============================
*/
.formacao {
    padding: 50px;
    background-color: var(--cor-de-fundo);
    animation: slideInLeft 1s ease-out;
}

.formacao__container {
    max-width: 1200px;
    margin: 0 auto;
}

.formacao__titulo {
    font-size: 2rem;
    color: var(--cor-primaria);
    margin-bottom: 20px;
    animation: slideInLeft 1s ease-out;
}

.formacao__lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: slideInLeft 1s ease-out;
}

.formacao__elemento {
    display: flex;
    align-items: center;
    gap: 20px;
}

.formacao__icone {
    width: 50px;
}

.formacao__nome {
    font-size: 1.2rem;
    color: var(--cor-do-texto);
    font-weight: bold;
}

.formacao__detalhe {
    color: var(--cor-secundaria);
}

/*
  ===============================
  Seção de Projetos
  ===============================
*/
.projetos {
    padding: 50px;
    background-color: var(--cor-de-fundo-menu);
    animation: slideInRight 1s ease-out;
}

.projetos__container {
    max-width: 1200px;
    margin: 0 auto;
}

.projetos__titulo {
    font-size: 2rem;
    color: var(--cor-primaria);
    margin-bottom: 20px;
    animation: slideInRight 1s ease-out;
}

.projetos__conteiner {
    margin-bottom: 30px;
    animation: slideInRight 1s ease-out;
}

.projetos__nome {
    font-size: 1.4rem;
    color: var(--cor-do-texto);
    margin-bottom: 10px;
    animation: slideInRight 1s ease-out;
}

.projetos__descricao {
    color: var(--cor-secundaria);
    animation: slideInRight 1s ease-out;
}

/*
  ===============================
  Seção de Contato
  ===============================
*/
.contato {
    padding: 50px;
    background-color: var(--cor-de-fundo);
    color: var(--cor-do-texto);
    animation: slideInLeft 1s ease-out;
}

.contato__container {
    max-width: 1200px;
    margin: 0 auto;
}

.contato__titulo {
    font-size: 2rem;
    color: var(--cor-primaria);
    margin-bottom: 20px;
    animation: slideInLeft 1s ease-out;
}

.contato__formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
    animation: slideInLeft 1s ease-out;
}

.contato__campo {
    padding: 15px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 5px;
    font-size: 1rem;
    background-color: #2a2d3a;
    color: var(--cor-do-texto);
}

.contato__botao {
    padding: 15px;
    background-color: var(--cor-primaria);
    color: #1e1e1e;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contato__botao:hover {
    background-color: var(--cor-primaria-hover);
}

/*
  ===============================
  Responsividade
  ===============================
*/
@media (min-width: 768px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navegacao__lista {
        gap: 1rem;
    }

    .cabecalho__titulo {
        font-size: 4rem;
    }

    .navegacao__elemento a {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .cabecalho__titulo {
        font-size: 4.5rem;
    }

    .navegacao__elemento a {
        font-size: 1.5rem;
    }
}

/*
  ===============================
  Gráficos de Círculo
  ===============================
*/

.chart-circle {
    width: 100%;
    height: auto;
    max-width: 150px; /* Tamanho ajustável do círculo */
    max-height: 150px;
    transform: rotate(90deg);
}

.charts-container {
    padding: 20px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 0 auto;
}

.chart {
    text-align: center;
    position: relative;
    width: calc(25% - 20px);
    height: 250px; /* Defina uma altura fixa para garantir o espaço do SVG e do texto */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.circle-percentage-wrapper {
    text-align: center;
}

.circle-percentage {
    font-size: 50px;
    color: var(--cor-primaria);
}

.circle-percentage-icon {
    font-size: 50px;
    color: var(--cor-primaria);
}

#circle-graph-1,
#circle-graph-2,
#circle-graph-3,
#circle-graph-4,
#circle-graph-5,
#chart-html,
#chart-css,
#chart-js,
#chart-react,
#chart-php,
#chart-ai,
#chart-photoshop {
    stroke: var(--cor-primaria);
    stroke-width: 5;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.underlay {
    stroke-width: 0.9;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--cor-do-link);
}


/*
  ===============================
  Ajuste de Tamanhos Responsivos
  ===============================
*/
@media screen and (max-width: 700px) {
    .chart {
        width: calc(50% - 20px);
    }

    .chart-circle {
        max-width: 200px;
        max-height: 200px;
    }
}

@media screen and (max-width: 480px) {
    .chart {
        width: 100%;
    }

    .chart-circle {
        max-width: 150px;
        max-height: 150px;
    }
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  .skill-circle {
    width: 200px;
    text-align: center;
  }
  svg {
    transform: rotate(-90deg);
    width: 160px;
    height: 160px;
  }
  circle {
    fill: none;
    stroke-width: 10;
  }
  .background-circle {
    stroke: #333;
  }
  .progress-circle {
    stroke: #f5c14a;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s ease-out;
  }
  .skill-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
  }
  .circle-wrapper {
    position: relative;
    display: inline-block;
  }